<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Piccm_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="%appdata%\Pic.cm" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Piccm_Uploader.Properties.Settings>
      <setting name="RunAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyAfterUpload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundAfterUpload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveLocal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HotKey_ActiveWindow" serializeAs="String">
        <value />
      </setting>
      <setting name="HotKey_Area" serializeAs="String">
        <value />
      </setting>
      <setting name="HotKey_Desktop" serializeAs="String">
        <value />
      </setting>
    </Piccm_Uploader.Properties.Settings>
  </userSettings>
</configuration>
